* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #000;
    --text-color: #fff;
}

.main {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.main-left {
    background-color: var(--background-color);
    background-image: url("signupform.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    flex: 1;
}

.main-right {
    height: 100vh;
    padding: 0 100px;
    background-color:var(--background-color);
    flex: 1;
    color: var(--text-color);
    border-left: 1px solid var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content p {
    font-size: 24px;
    margin: 0 0 20px;
}

fieldset {
    display: flex;
    flex-direction: column;
}
